.app-header {
  display: block;
  padding: 1rem 2rem;
  font-size: 0.9rem;
  font-weight: bold;
  overflow: hidden;
  background: white;
}

.app-main {
  display: block;
  height: calc(100% - 3.07rem);
  overflow: hidden;
}
